@use "./base/variables/medias.scss" as *;

// Colour Schemes.
$color: #353b48;
$bg: #f5f6fa;

// Custom Colours.
$customColors: (
  "green": #6db966,
);

// Font.
$font: "Arial", sans-serif;

// Responsive sizes.
$screens: (
  // 320
  $xs: (
    fontSize: 13px,
  ),
  // 540
  $sm: (
  ),
  // 720
  $md: (
  ),
  // 960
  $lg: (
  ),
  // 1140
  $xl: (
  ),
  // 1299
  $xxl: (
  ),
);

// Class generators switches.
// Margins & Paddings.
$whiteSpaces: true;
// Shadows.
$shadows: true;
