@use "./base/variables/medias.scss" as *;

// Colour Schemes.
$color: #1A2931;
$bg: #BAC6CB;

// Custom Colours.
$customColors: (
  "green": #6db966,
);

// Font.
$font: "Arial", sans-serif;

// Responsive sizes.
$screens: (
  // 320
  $smMobile:
    (
      fontSize: 12px,
      layoutGap: 10px,
      layoutPad: 10px,
      stickyHeaderHeight: 60px,
      heroHeight: 40vh,
      modalClamp: clamp(280px, 50%, 320px),
      test: transparent,
    ),
  // 375
  $mdMobile: (),
  // 480
  $lgMobile_smTablet:
    (
      fontSize: 14px,
      layoutGap: 15px,
      layoutPad: 15px,
      heroHeight: 50vh,
      modalClamp: clamp(350px, 50%, 480px),
    ),
  // 600
  $mdTablet:
    (
      fontSize: 16px,
    ),
  // 1024
  $lgTablet_smLaptop:
    (
      fontSize: 18px,
      layoutGap: 20px,
      layoutPad: 20px,
      heroHeight: 70vh,
      modalClamp: clamp(350px, 25%, 800px),
    ),
  // 1366
  $laptop_smDesktop: (),
  // 1920
  $lgDesktop_TV: ()
);

// Class generators switches.
// Margins & Paddings.
$whiteSpaces: true;
// Shadows.
$shadows: true;
