@use "./base/variables/medias.scss" as *;
@use "./base/variables/nativeConfigs/nativeConfigs.scss" as *;
@use "sass:map";

// Colour Schemes.
$color: #1a2931;
$bg: #bac6cb;

// Custom Colours.
$customColors: (
  "rebecca": #663399, // Rebecca purple
  "zima": #18BBF7, // Love, Death, Robots
  "gryffindor": #ae0001, // Harry Potter
  "slytherin": #2a623d, // Harry Potter
  "vibranium": #007F9E, // Black Panther
  "matrix": #03A062, // The Matrix
  "neon": #fe019a, // Blade Runner
  "pandora": #277bc7, // Avatar
  "spice": #ff4e20, // Dune
  "dreidel": #5e5d63, // Inception
  "ring": #e3b737, // LOTR
  "good": #6db966, // The Good Place
  "bad": #CB0600, // The Good Place
);

// Font.
$font: "Arial", sans-serif;

// Responsive sizes.
$screens: map.deep-merge($nativeConfigs, (
  // 320
  $smMobile:
    (
      fontSize: 12px,
    ),
  // 375
  $mdMobile: (),
  // 480
  $lgMobile_smTablet:
    (
      fontSize: 14px,
    ),
  // 600
  $mdTablet:
    (
      fontSize: 16px,
    ),
  // 1024
  $lgTablet_smLaptop:
    (
      fontSize: 18px,
    ),
  // 1366
  $laptop_smDesktop: (),
  // 1920
  $lgDesktop_TV: ()
));

// Class generators switches.
// Margins & Paddings.
$whiteSpaces: true;
// Shadows.
$shadows: true;
