// New Screen sizes.
$smMobile: 320px;
$mdMobile: 375px;
$lgMobile_smTablet: 480px;
$mdTablet: 600px;
$lgTablet_smLaptop: 1024px;
$laptop_smDesktop: 1366px;
$lgDesktop_TV: 1920px;
// Old Screen sizes.
$xs: 320px;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1299px;

// Modes.
$modes: "light", "dark";
