@use "../config.scss" as *;
@use "../base/variables/colors.scss" as *;
@use "../base/functions/colors.scss" as *;
@use "../base/functions/medias.scss" as *;

@use "./resets/accessibility.scss" as *;
@use "./resets/clicking.scss" as *;
@use "./resets/copying.scss" as *;
@use "./resets/heading.scss" as *;
@use "./resets/listing.scss" as *;
@use "./resets/pseudos.scss" as *;
@use "./resets/tabling.scss" as *;
@use "./resets/writing.scss" as *;

:root {
  // Main Colors.
  @include basicColors($base);
  .revert {
    @include basicColors($revert);
  }
  // Sizes.
  @include screenSizeVars;
  // UI Colors.
  @include customColorMapper($ui-colors);
  // Custom Colors.
  @include customColorMapper($customColors);
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--bg);
  line-height: 1.5;
  font-family: $font;
  font-size: var(--fontSize);
  box-sizing: border-box;
  @include accessibility;

  * {
    position: relative;
    border: none;
    outline: none;
    color: var(--color);
    text-decoration: none;
    user-select: none;
    scroll-behavior: smooth;
    box-sizing: inherit;
    &::before,
    &::after {
      box-sizing: inherit;
    }

    @include clicking;
    @include copying;
    @include headings;
    @include listing;
    @include pseudos;
    @include tabling;
    @include writing;

    &[data-type="page"] {
      width: 100%;
      height: 100%;
      padding-top: var(--navbarHeight);
      overflow-y: auto;
    }
    &[data-type="page"],
    &[data-type="module"],
    &[data-type="component"] {
      display: block;
    }

    &::-webkit-scrollbar {
      width: 0.2rem;
      height: 0.2rem;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--trans-bg-low);
    }
    &::-webkit-scrollbar-track {
      background: var(--trans-color-medium);
    }
  }
}
