@use "./mixins.scss" as *;

@mixin writing {
  textarea,
  select,
  input:not(
      [type="button"],
      [type="submit"],
      [type="reset"],
      input[type="radio"],
      input[type="range"],
      input[type="checkbox"]
    ) {
    @include interface(0.6rem);
    border: 2px solid var(--color);
    background: transparent;
    user-select: text;
    &:focus {
      border-color: var(--zima);
    }
    &::placeholder {
      color: #999;
      font-size: 0.9rem;
    }
    &.touched {
      border-color: var(--danger-l-2);
    }
  }
}
