@use "../medias.scss" as *;

$fluid: (
    $smMobile: (
        fluidBlockPad: 1rem,
    ),
    $mdMobile: (
        fluidBlockPad: 2rem,
    ),
    $lgMobile_smTablet: (
        fluidBlockPad: 3rem,
    ),
    $mdTablet: (
        fluidBlockPad: 4rem,
    ),
    $lgTablet_smLaptop: (
        fluidBlockPad: 14rem,
    ),
    $laptop_smDesktop: (
        fluidBlockPad: 16rem,
    ),
    $lgDesktop_TV: (
        fluidBlockPad: 20rem,
    ),
);