@use "../medias.scss" as *;

$hero: (
  $smMobile: (
    heroHeight: 40vh,
    heroPadding: 40px
  ),
  $lgMobile_smTablet: (
    heroHeight: 50vh,
  ),
  $lgTablet_smLaptop: (
    heroHeight: 70vh,
  ),
);
