@use "../medias.scss" as *;

$layout: (
  // Merged.
  $smMobile:
    (
      pageBlockPad: var(--navbarHeight),
      layoutGap: 10px,
      layoutPad: 50px,
    ),
  $lgMobile_smTablet: (
    pageBlockPad: calc(((1.2rem * 1.5) + 1.6rem)),
    layoutGap: 15px,
    layoutPad: 15px,
  ),
  $lgTablet_smLaptop: (
    layoutGap: 20px,
    layoutPad: 20px,
  )
);
