@use "../medias.scss" as *;

$navbar: (
  // Merged.
  $smMobile:
    (
      navbarHeight: calc(var(--hamHeight) + calc(var(--hamMargin) * 2)),
      navbarShadow: none,
      navbarOverflow: visible,
      linksDisplay: block,
      linksLeft: -100%,
      linkDisplay: block,
      linkWidth: 100%,
      hamHeight: calc(1rem * 2),
      hamMargin: 0.75rem,
    ),
  $lgMobile_smTablet: (
    navbarHeight: auto,
    navbarShadow: 0 0 30px 6px var(--trans-color-low),
    navbarOverflow: visible,
    linksDisplay: flex,
    linksLeft: 0,
    linkDisplay: inline-flex,
    linkWidth: max-content,
  ),
);
