@use "../medias.scss" as *;

$navbar: (
  // Merged.
  $smMobile:
    (
      navbarDisplay: block,
      navbarHeight: 50px,
      navbarShadow: none,
      navbarOverflow: hidden,
      hamDisplay: block,
      linkDisplay: block,
      linkLeft: -100%,
      linkPadding: calc(var(--layoutPad) / 5) calc(var(--layoutPad) / 2),
      linkSize: 2rem,
    ),
  $lgMobile_smTablet: (
    navbarDisplay: flex,
    navbarShadow: 0 0 10px 2px,
    navbarOverflow: visible,
    hamDisplay: none,
    linkDisplay: inline-block,
    linkLeft: 0,
    linkPadding: var(--layoutPad) calc(var(--layoutPad) * 2),
    linkSize: 1.2rem,
  ),
  $lgTablet_smLaptop: (
    linkPadding: calc(var(--layoutPad) / 2) var(--layoutPad),
  )
);
